@import '../styles/variables.scss';

.Photos {
  .photo-container {
    min-height: 260px;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      min-height: 200px;
    }

    .photo {
      margin: 30px 0;
      max-height: 200px;
      max-width: 200px;
      outline: black 2px;
      outline-offset: 4px;
      outline-style: solid;

      @media (max-width: $screen-xs-max) {
        margin: 10px 0;
        max-width: 140px;
        max-height: 140px;
      }
    }
  }
}