@import '../styles/variables';
@import '../styles/mixins';

.Header {
  .header-background {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
  }

  .avatar-container {
    background-color: $avatar-border-color;
    border-radius: 50%;
    height: 165px;
    width: 165px;
    position: absolute;
    left: 40px;
    top: 110px;

    .avatar {
      background-image: url(/static/media/avatar.c5e0107c.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 120%;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      @include absolute-center;
    }
  }

  .menu {
    background-color: $menu-background-color;
    height: 50px;
    padding: 0 30px;
    text-align: right;

    .icon-container {
      display: inline-block;
      cursor: pointer;
      margin: 5px 10px;
      height: 40px;
      width: 40px;
      position: relative;

      &.circle {
        border: 2px solid $menu-font-color;
        border-radius: 50%;
      }
    }

    i {
      @include absolute-center;
      color: $menu-font-color;
      font-size: 23px;
    }
  }

}
