$white: #FFF;
$main-color: #7ad6bb;
$transparent-white: rgba(255, 255, 255, 0.5);

$menu-background-color: $main-color;
$menu-font-color: $white;
$avatar-border-color: $transparent-white;


$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
